#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;

    background: var(--color-primary);
    color: var(--color-white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 3.6rem var(--font-secondary), sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 2.4rem;
      line-height: 32px;
      margin-top: 16px;
      color: var(--bg-color);
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
    }

    h2 {
      font-size: 2.4rem;
      margin: 64px 0 24px;
      font-family: var(--font-secondary), sans-serif;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: var(--color-white);
        border: 1px solid var(--border-color);
      }

      button { 
        margin-top: 16px;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      font-size: 1.4rem;
      color: #737380;
      margin-top: 16px;

      a {
        color: var(--color-link);
      }
    }
  }

  .create-room {
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: var(--color-google-button);
    color: var(--color-white);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 1.4rem;
    color: var(--border-color);

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--border-color);
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--border-color);
      margin-left: 16px;
    }
  }
}